extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Using interpolation to dynamically display a project title
        h1= project.project_name

        //- Using interpolation to dynamically display a project description
        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Using an `each` iterator and interpolation to dynamically render the list of technologies related for each project
          each technology in project.technologies
            li= technology 

        //- Add the href values to the links below
        a.btn-link(href=`${project.live_link}`, target="_blank") Live Demo
        a.btn-link(href=`${project.github_link}`, target="_blank") GitHub Repo

    .project-img-box.box

      //- Using an `each` iterator to dynamically render the project images. 
      //- The `main` image (index = 0) will not be displayed on inner project pages.
      each image, index in project.image_urls 
        if index !== 0
          img.project-img(src=`${image}`, alt=`${project.description}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
